<div class="row information">

  <h1><%= @book.title %></h1>
  <h3><%= "Written by: #{@book.author}, #{@book.year}" %></h3>
  <h4><%= @book.category %></h4>
  <hr>

  <p>
    <%= @book.description %>
  </p>

  <a style="center"><%= link_to "Home", root_path, class: "button tiny" %></a><br>
  <hr>

  <h2><%= "#{@book.title}'s Reviews" %></h2>
  <ul>
    <% @book.reviews.each do |review| %>
      <li><%= "#{review.body}" %> - <%= "#{review.rating}" %><br>
          <%= "#{review.updated_at}" %></li>
    <% end %>
  </ul>
  <br>

  <h3>Write a Review</h3>

    <%= form_for [@book, @review] do |f| %>

    <p>
      <%= f.label :body %><br>
      <%= f.text_field :body %>
    </p>

    <p>
      <%= f.label :rating  %><br>
      <%= f.select :rating, 1..5 %>
    </p>

    <%= f.submit "Submit Review", class: "button" %>

    <% end %>
</div>
